/* стилізація index.html */
:root{
    --brand-color: #404BBF;
    --title-color: #2E2F42;
    --heading-color: #FFFFFF;
    --address-color: #434455;
    --button-color: #4D5AE5;
    --button-background: #F4F4FD;
    --button-filtre-color: #E7E9FC;
}

p,
h1,
h2,
h3,
h4,
h5{
    margin: 0;
}

ul{
    margin: 0;
    padding:0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


body{
    font-family: 'Roboto','Golos Text', sans-serif;
    color: var(--title-color);
    margin: auto; 
    margin-left: 15px;
    margin-right: 15px;
}
ul {list-style: none;}
a {text-decoration: none;}
/* header */
.container{
    width: 1440px;
    margin-bottom: 0;  
    outline: 1px solid rgb(5, 5, 5);
    margin-left: 141px;
    margin-right: 141px;

}



.header{
    display: flex;
    flex-direction: row;
    padding-top:24px ;
    padding-bottom: 24px;
}

.navigation{
    display: flex;

}

.link-page{
    font-family: 'Raleway', sans-serif;
    color: var(--title-color);
    font-size: 18px;
    line-height: 1.3;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-left: 15px;
    margin-right: 76px;
    margin-left: 141px;

}

.list-page{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.link-icon{
    font-family: 'Raleway', sans-serif;
    color: var(--button-color);
    font-size: 18px;
    line-height: 1.3;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.page {
    color: var(--title-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-right: 40px;
    
}

.page:last-child{}

.page:hover{
   color: var(--brand-color);
}

.page:focus{
   color: var(--brand-color);
}


.address{
    color: var(--address-color);
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-right: 40px;


}

.link-address{
    display: flex;
    margin-left: 292px;
}

.address:hover{
    color: var(--brand-color);
}

.address:focus{
    color: var(--brand-color);
}
/* main */
/*section_1*/

.hero{
    background: var(--title-color);
    padding-top:188px ;
    padding-bottom: 192px;
}

.hero-section{
    color: var(--heading-color);
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    margin: 0;
    margin-bottom: 48px;
}

.button{
    font-family: 'Roboto';
    cursor: pointer;
    color: var(--heading-color);
    background: var(--button-color);
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    padding: 16px 32px;
    margin: 0 auto;
}

.button:hover{
    background: var(--brand-color);

}
/* section_2 */
.title-list{
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-top: 0;
    padding-top: 8px;
}

.list-paragraphs{
    display: flex;
    padding: 120px 15px ;
    margin-left: 141px;
    margin-right: 141px;
    
}

.list-features{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 0;
    display: inline-block;
    padding-right: 24px;
}

.list-paragraphs:last-child{
    padding-right: 0;
}

/* section_3 */
.title-item{
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-top: 0;
    padding-bottom: 72px;
}

.item-images{
    display: flex;
    justify-content: space-between;
    padding-left: 156px;
    padding-right: 156px;
}

.images{
padding-bottom: 120px;
}

/* section_4 */

.section-team{
    background: var(--button-background);
}

.subject{
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    padding-top: 120px;
    padding-bottom: 72px;
}

.list-team {
    background-color: var(--heading-color);
    display: inline-block;
    outline: 1px solid;
    margin-right: 0px; 
}
.div{
    
}

.team{
    
    margin-left: 141px;
    margin-right: 141px;
    padding-left: 15px;
    padding-right: 15px;

}


.subtitle {
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
}

.text{
    color: var(--address-color);
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
}

/* footer */

.footer{
    background-color: var(--title-color);
}

.text-footer{
    color: var(--heading-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.link-footer-page{
    font-family: 'Raleway', sans-serif;
    color: var(--button-background);
    font-size: 18px;
    line-height: 1.3;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.link-footer-icon{
    font-family: 'Raleway', sans-serif;
    color: var(--button-color);
    font-size: 18px;
    line-height: 1.3;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}











/* стилізація portfolio.html */



.link{
    font-family: 'Raleway', sans-serif;
    color: var(--title-color);
    font-size: 18px;
    line-height: 1.3;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.link-logo{
    font-family: 'Raleway', sans-serif;
    color: var(--button-color);
    font-size: 18px;
    line-height: 1.3;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.page-portfolio{
    color: var(--title-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.page-portfolio:hover{
    color: var(--brand-color);
}

.page-portfolio:focus{
    color: var(--brand-color);
}    

.address-portfolio{
    color: var(--address-color);
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.address-portfolio:hover{
    color: var(--brand-color);
}

.address-portfolio:focus{
    color: var(--brand-color);
}

.button-filtre{
    cursor: pointer;
    color: var(--button-color);
    background: var(--button-background);
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    border: 1px solid var(--button-filtre-color);
    border-radius: 4px
}

.button-filtre:hover{
    color: var(--heading-color);
    background-color: var(--brand-color);
}

.button-filtre:focus{
    color: var(--heading-color);
    background-color: var(--brand-color);
}

.title-filtre{
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.text-filtre{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-portfolio{
    background-color: var(--title-color);
}

.text-footer-portfolio{
    color: var(--heading-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.link-footer{
    font-family: 'Raleway', sans-serif;
    color: var(--button-background);
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.link-web{
    font-family: 'Raleway', sans-serif;
    color: var(--button-color);
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

