/* стилізація index.html */
:root{
    --brand-color: #404BBF;
    --title-color: #2E2F42;
    --heading-color: #FFFFFF;
    --address-color: #434455;
    --button-color: #4D5AE5;
    --button-background: #F4F4FD;
    --button-filtre-color: #E7E9FC;
}

p,
h1,
h2,
h3,
h4,
h5{
    margin: 0;
}

ul{
    margin: 0;
    padding-left: 0;
}

img {
   margin: 0;
   max-width: 100%;
   height: auto;
}

button {
    cursor: pointer;
}


body{
    font-family: 'Roboto','Golos Text', sans-serif;
    color: var(--title-color);
    margin: auto; 
    margin-left: 15px;
    margin-right: 15px;
}
ul {list-style: none;}
a {text-decoration: none;}
/* header */
.container{
    width: 1158px; 
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.navigation {
    display: flex;
}

.header{
    padding-top:24px ;
    padding-bottom: 24px;
}

.header-studio{
    display: flex;
}



.link-page{
    font-family: 'Raleway', sans-serif;
    color: var(--title-color);
    font-size: 18px;
    line-height: 1.3;
    display: flex;
    align-items: center;
    padding: 0px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.list-page{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
}

.link-icon{
    font-family: 'Raleway', sans-serif;
    color: var(--button-color);
    font-size: 18px;
    line-height: 1.3;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.page {
    color: var(--title-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
}

.page:hover{
   color: var(--brand-color);
}

.page:focus{
   color: var(--brand-color);
}

.link-address{
    display: flex;
    gap: 40px;
}

.address-webstudio{
    margin-left: auto;
}

.address{
    color: var(--address-color);
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.address:hover{
    color: var(--brand-color);
}

.address:focus{
    color: var(--brand-color);
}
/* main */
/*section_1*/

.hero{
    background: var(--title-color);
    margin: 0 auto;
    padding-bottom: 188px;
    max-width: 1440px;
}

.hero-section{
    color: var(--heading-color);
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    margin: 0 auto;
    margin-bottom: 48px;
    padding-top: 188px;

}

.button{
    font-family: 'Roboto';
    cursor: pointer;
    color: var(--heading-color);
    background: var(--button-color);
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    padding: 16px 32px;
    margin: 0 auto;

}

.button:hover{
    background: var(--brand-color);

}
/* section_2 */

.section-features{
    display: flex;
}

.list-paragraphs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 120px 0;
}

.items{
    padding-right: 24px;
}

.items:last-child{
    padding-right: 0;
}

.title-list{
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}


.list-features{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.item-images{
    display: flex;
    gap: 24px;
    padding-top: 72px;
    padding-bottom: 120px;
}

.images{
    gap: 24px;
}

/* section_3 */
.title-item{
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}



/* section_4 */

.section-team{
    background: var(--button-background);
    max-width: 1440px;
    margin: 0 auto;
}

.subject{
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    padding-top: 120px;
    padding-bottom: 72px;
}

.list-team {
    background-color: var(--heading-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;

}

.team{
    display: flex;
    gap: 24px;
    padding-bottom: 120px;

}

.subtitle {
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
}

.text{
    color: var(--address-color);
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
}

/* footer */

.footer{
    background-color: var(--title-color);
    max-width: 1440px;
    margin: 0 auto;
}

.footer-studio{
    padding-top: 100px;
    padding-bottom: 100px;
}

.text-footer{
    color: var(--heading-color);
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.link-footer-page{
    font-family: 'Raleway', sans-serif;
    color: var(--button-background);
    font-size: 18px;
    line-height: 1.3;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-bottom: 17.5px;
}

.link-footer-icon{
    font-family: 'Raleway', sans-serif;
    color: var(--button-color);
    font-size: 18px;
    line-height: 1.3;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}











/* стилізація portfolio.html */



.portfolio{
    border-bottom: 1px solid #E7E9FC;
    max-width: 1440px;
    margin: 0 auto;
}

.link{
    font-family: 'Raleway', sans-serif;
    color: var(--title-color);
    font-size: 18px;
    line-height: 1.3;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.link-logo{
    font-family: 'Raleway', sans-serif;
    color: var(--button-color);
    font-size: 18px;
    line-height: 1.3;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.page-portfolio{
    color: var(--title-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.page-portfolio:hover{
    color: var(--brand-color);
}

.page-portfolio:focus{
    color: var(--brand-color);
}    

.address-portfolio{
    color: var(--address-color);
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-left: auto;
    
}

.address-portfolio:hover{
    color: var(--brand-color);
}

.address-portfolio:focus{
    color: var(--brand-color);
}

.section-button{

}

.list-button{
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-top: 96px;
    padding-bottom: 72px;
}

.button-filtre{
    cursor: pointer;
    color: var(--button-color);
    background: var(--button-background);
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    border: 1px solid var(--button-filtre-color);
    border-radius: 4px;
    padding: 12px 24px;
}

.button-filtre:hover{
    color: var(--heading-color);
    background-color: var(--brand-color);
}

.button-filtre:focus{
    color: var(--heading-color);
    background-color: var(--brand-color);
}

.container-portfolio{
    width: 1128px; 
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    
}

.content{
    padding: 0;
}

.list-filtre{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section{
    background: var(--heading-color);
    border: 1px solid var(--button-filtre-color);
    margin-bottom: 48px;
}

.section:nth-last-child(-n+3){
    margin-bottom: 120px;
}

.section:nth-child(3n+3){
    margin-left: 0;
}




.title-filtre{
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 8px;

}

.text-filtre{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-portfolio{
    background-color: var(--title-color);
    max-width: 1440px;
    margin: 0 auto;
}

.text-footer-portfolio{
    color: var(--heading-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-section{
    padding: 0;
    padding-top: 100px;
    padding-bottom: 100px;
    max-width: 1440px;
}

.link-footer{
    font-family: 'Raleway', sans-serif;
    color: var(--button-background);
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.link-web{
    font-family: 'Raleway', sans-serif;
    color: var(--button-color);
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

